@charset "UTF-8";

a{
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Shippori Mincho B1';
  font-size: bold;
}

ul{
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.header ul{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header ul li{
  padding: 10px 40px;
  white-space: nowrap;
}

.header ul a:hover{
  color: rgba(72, 211, 249, 0.936);
}


body{
  padding-top: 120px;
  font-size: 16px;
}

h2{
  font-size: 40px;
}

.TOP_main{
  position: relative;
  width: 100%;
  max-width: 3000px;
  text-align: center;
}

.TOP_main img{
  width: 100%;
  max-width: 2000px;
  height: 480px;
  object-fit: cover;
}

.text-overlay1{
  font-family: 'Shippori Mincho B1';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  white-space: nowrap;
}

@media (max-width: 480px){
  .TOP_main img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .text-overlay1{
    font-size: clamp(16px, 5vw, 40px);
  }
}

.box1{
  margin-top: 100px;
  margin-bottom: 200px;
}

.TOP_SCM{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  margin-left: 60px;
}

.SCM_description{
  width: 45%;
  padding: 40px 0;
  text-align: left;
}

.SCM_description h2{
  border-bottom: 1px solid gray;
}

.SCM_description h3{
  font-family: 'Shippori Mincho B1';
  font-size: 30px;
  padding-bottom: 40px;
}

.SCM_image{
  width: 55%;
}

.SCM_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 768px){
  .TOP_SCM{
    flex-direction: column-reverse;
    margin: 50px 0 20px 0;
    text-align: center;
  }
  .SCM_image{
    width: 100%;
  }
  .SCM_description{
    width: 100%;
    text-align: center;
    padding: 0 40px;
  }
  .SCM_description button{
    margin-top: 30px;
  }
  .SCM_description a{
    display: block;
  }
}

.box2{
  padding: 20px 0;
  margin-bottom: 200px;
}

.ACT_h2{
  margin: 0 400px 0;
  text-align: center;
  border-bottom: 1px solid gray;
}

.ACT_h3{
  text-align: center;
  font-family: 'Shippori Mincho B1';
}

.SCM_ACT{
  display: flex;
  justify-content: center;
  margin: 40px 60px;
  gap: 20px;
}

.activity a{
  display: block;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.activity a:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.activity img{
  width: 100%;
  height: 70%;
}

.activity h3{
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

@media(max-width: 768px){
  .ACT_h2{
    margin: 80px 40px 0;
  }
  .SCM_ACT{
    flex-direction: column;
    margin: 30px 20px 20px;
  }
}

.box3{
  padding: 20px 0;
  background-color: rgba(194, 214, 232, 0.338);
}

.NEWS_h2{
  text-align: center;
  margin: 0 400px;
  border-bottom: 1px solid gray;
}

.box3 h3{
  text-align: center;
  font-family: 'Shippori Mincho B1';
  padding-bottom: 40px;
}

.TOP_NEWS{
  display: block;
  padding: 0 100px;
}

.NEWS{
  display: block;
}

.TOP_NEWS>a:first-child .card{
  border-top: 1px solid rgb(238, 238, 238);
}

.card{
  padding: 8px;
  border-bottom: 1px solid rgb(238, 238, 238);
  background-color: white;
}

.card:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.date{
  margin: 8px 0;
  color: cornflowerblue;
  font-size: 12px;
}

.content{
  margin-bottom: 8px;
}

@media(max-width: 768px){
  .TOP_NEWS{
    padding: 8px 60px;
  }
  .NEWS_h2{
    margin: 80px 80px 0;
  }
}

.SNS{
  background-color: whitesmoke;
}

.logo-list{
  display: flex;
  justify-content: space-between;
}

.SNS_logo{
  text-align: left;
  align-items: center;
  margin: 20px 40px 20px;
  padding-top: 40px;
}

.SNS_logo img{
  width: 200px;
}

.gmail{
  width: 200px;
  text-align: center;
}

.bottom_list{
  margin: 20px 40px 20px;
}

.bottom_list ul{
  padding: 8px 8px;
  text-align: center;
}
.bottom_list li{
  padding: 4px;
}

.bottom_list li a:hover{
  color: rgba(72, 211, 249, 0.936);
}

.SNS_icon{
  text-align: center;
}
.SNS_icon a{
  display: inline-block;
  width: 50px;
  height: 50px;
}

footer{
  border-top: 1px solid gray;
  text-align: center;
  padding: 4px 0;
}

button {
  margin-top: 60px;
  background-color: white;
  border: 1px solid #00aaff;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 rgba(0, 170, 255, 0);
}

button:hover {
  background-color: #e6faff;
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.3);
}