@charset "UTF-8";

a{
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Shippori Mincho B1';
  font-size: bold;
}

ul{
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between;
  gap: 60px;
  transition: top 0.6s ease;
}

.header ul{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header ul li{
  padding: 10px 40px;
  white-space: nowrap;
}

.header ul a:hover{
  color: rgba(72, 211, 249, 0.936);
}

body{
  padding-top: 120px;
  font-size: 16px;
}

h2{
  text-align: center;
  font-size: 40px;
}

.mocca_main{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.mocca_main img{
  width: 100%;
  object-fit: cover;
}

.text-overlay1{
  font-family: 'Shippori Mincho B1';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  white-space: nowrap;
}

@media (max-width: 768px){
  .mocca_main img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .text-overlay1{
    font-size: clamp(16px, 5vw, 40px);
  }
}

.box1{
  margin: 100px 0 200px;
}

.what{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  margin-right: 60px;
}

.what_image{
  width: 55%;
}

.what_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.what_description{
  width: 45%;
  padding: 40px 0;
}

.what_description h2{
  border-bottom: 1px solid gray;
  text-align: left;
}

.what_description h3{
  margin-bottom: 40px;
  font-size: 30px;
  font-family: 'Shippori Mincho B1';
}

.what_description h4{
  margin-bottom: 10px;
}

@media(max-width: 768px){
  .what{
    flex-direction: column;
    margin: 0;
  }
  .what_image{
    width: 100%;
  }
  .what_description{
    width: 100%;
    padding: 0 40px;
    text-align: center;
  }
  .what_description h2{
    text-align: center;
  }
}

.box2{
  margin-bottom: 200px;
}

.mocca_introduction{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  margin-left: 60px;
}

.introduction_description{
  padding: 40px 0;
  width: 45%;
  text-align: left;
}

.introduction_description h2{
  text-align: left;
  border-bottom: 1px solid gray;
}

.introduction_description h3{
  margin-bottom: 40px;
  font-size: 30px;
  font-family: 'Shippori Mincho B1';
}

.mocca_image{
  width: 55%;
}

.mocca_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .mocca_introduction {
    flex-direction: column-reverse; /* 縦並びに切り替え */
    margin: 50px 0 20px 0;
  }
  .mocca_image{
    width: 100%;
  }
  .introduction_description{
    width: 100%;
    text-align: center;
    padding: 0 40px;
  }
  .introduction_description h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .introduction_description button{
    margin-top: 30px;
  }
  .introduction_description a{
    display: block;
  }
}

.box3{
  margin-bottom: 200px;
}

.mocca_achievements h2{
  margin: 0 400px;
  border-bottom: 1px solid gray;
}

.achievments_sub{
  margin-bottom: 40px;
  font-family: 'Shippori Mincho B1';
  text-align: center;
}

.card{
  display: block;
  border: 1px solid gray;
  overflow: hidden;
  max-width: 1000px;
  margin: 16px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: sans-serif;
}

.card-header{
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.card-header .date{
  font-size: 12px;
  color: #888;
}

.card-header .title{
  margin: 8px 0 0;
  font-size: 20px;
  font-weight: bold;
}

.card-body{
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.card-image{
  width: 40%;
  height: auto;
  object-fit: cover;
}

.card-discription{
  width: 60%;
}

@media (max-width: 768px) {
  .mocca_achievements h2{
    margin: 20px 20px;
  }
  .card-body {
    flex-direction: column; 
    align-items: flex-start;
  }

  .card-image,
  .card-description {
    width: 100%;
  }
}


.SNS{
  margin-top: 100px;
  background-color: whitesmoke;
}

.logo-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SNS_logo{
  text-align: left;
  margin: 20px 40px 20px;
  padding-top: 40px;
}

.SNS_logo img{
  width: 200px;
}

.gmail{
  width: 200px;
  text-align: center;
}

.bottom_list{
  margin: 20px 40px 20px;
}

.bottom_list ul{
  padding: 8px 8px;
  text-align: center;;
}

.bottom_list li{
  padding: 4px;
}

.bottom_list li a:hover{
  color: rgba(72, 211, 249, 0.936);
}

.SNS_icon{
  text-align: center;
}
.SNS_icon a{
  display: inline-block;
  width: 50px;
  height: 50px;
}

@media (max-width: 768px){
  .logo-list{
    display: none;
  }
  .SNS_icon{
    padding-top: 40px;
  }
}

footer{
  border-top: 1px solid gray;
  text-align: center;
  padding: 4px 0;
}

button {
  margin-top: 60px;
  background-color: white;
  border: 1px solid #00aaff;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 rgba(0, 170, 255, 0);
}

button:hover {
  background-color: #e6faff;
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.3);
}