@charset "UTF-8";

a{
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Shippori Mincho B1';
  font-size: bold;
}

ul{
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between;
  gap: 60px;
  transition: top 0.6s ease;
}

.header ul{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header ul li{
  padding: 10px 40px;
  white-space: nowrap;
}

.header ul a:hover{
  color: rgba(72, 211, 249, 0.936);
}

body{
  padding-top: 120px;
  font-size: 16px;
}

.department_main{
  position: relative;
  width: 100%;
  max-width: 3000px;
  margin-bottom: 10px;
  text-align: center;
}

.department_main img{
  width: 100%;
  max-width: 3000px;
  height: 400px;
  object-fit: cover;
}

.text-overlay1{
  font-family: 'Shippori Mincho B1';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(24px, 6vw, 75px);
  background-color: rgba(0, 0, 0, 0.0);
  padding: 10px 20px;
  border-radius: 8px;
  white-space: nowrap;
}

.head{
  display: flex;
  align-items: stretch;
  margin: 100px 0 20px 60px;
  gap: 10px;
}

.head_description{
  flex: 1;
  padding: 20px;
}

.head_description h2{
  font-size: 40px;
  border-bottom: 1px solid gray;
}

.head_description h3{
  margin-bottom: 20px;
  font-family:  'Shippori Mincho B1';
  font-size: 25px;
  border-bottom: 0;
}

.head_image{
  flex: 1;
}

.head_image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media(max-width: 768px){
  .head{
    flex-direction: column-reverse;
    margin: 20px;
    text-align: center;
  }
  .head_image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

}

.introduction1{
  display: flex;
  align-items: stretch;
  margin: 100px 60px 0;
}

.card1{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.card1-1, .card1-2{
  flex: 1;
  padding: 10px;
}

.card2{
  width: 50%;
  padding: 10px;
  margin: 0 20px;
}

.introduction2{
  display: flex;
  margin: 20px 60px;
}

.introduction2-1,.introduction2-2{
  flex: 1;
  padding: 10px;
  margin: 0 20px;
}

@media(max-width: 480px){
  .introduction1{
    flex-direction: column;
    margin: 20px;

  }
  .card1,.card2{
    width: 100%;
  }
  .introduction2{
    flex-direction: column;
    margin: 20px;
  }
}

h3{
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  font-size: 30px;

}


.SNS{
  margin-top: 100px;
  background-color: whitesmoke;
}

.logo-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SNS_logo{
  text-align: left;
  margin: 20px 40px 20px;
  padding-top: 40px;
}

.SNS_logo img{
  width: 200px;
}

.gmail{
  width: 200px;
  text-align: center;
}

.bottom_list{
  margin: 20px 40px 20px;
}

.bottom_list ul{
  padding: 8px 8px;
  text-align: center;;
}
.bottom_list li{
  padding: 4px;
}

.bottom_list li a:hover{
  color: rgba(72, 211, 249, 0.936);
}

.SNS_icon{
  text-align: center;
}
.SNS_icon a{
  display: inline-block;
  width: 50px;
  height: 50px;
}

footer{
  border-top: 1px solid gray;
  text-align: center;
  padding: 4px 0;
}

button {
  display: block;
  margin: 80px auto;
  background-color: mediumturquoise; /* 背景色：緑っぽい */
  padding: 6px 12px; /* 内側の余白 */
  border: none; /* 枠線なし */
  border-radius: 8px; /* 角丸 */
  font-size: 20px; /* 文字サイズ */
  cursor: pointer; /* マウスを当てたらポインターに */
  transition: background-color 0.3s ease; /* ホバーしたときのアニメ */
}

button p{
  color: white;
}

button:hover {
  background-color: #45a049; /* ホバー時に少し濃い緑 */
}